Django==1.4.3
-e git://github.com/vicalloy/LBForum.git#egg=LBForum
PIL==1.1.7
Pillow==1.7.8
South==0.7.6
Unidecode==0.04.11
distribute==0.6.34
django-lb-attachments==0.8.3
django-onlineuser==0.8.7
django-pagination==1.0.7
django-simple-avatar==0.8.6
lamson==1.1
lockfile==0.9.1
mock==1.0.1
nose==1.2.1
oauth2==1.5.211
postmarkup==1.2.0
pyparsing==1.5.6
pystache==0.3.1
python-dateutil==1.5
pytz==2012j
six==1.2.0
wsgiref==0.1.2
