{% extends "base.html" %}
{% block content %}
<div class="page-header">
	<h1>VašeGolfiště.cz <small>Místo pro společnou řeč</small></h1>
</div>
<div class="hero-unit">
	<h1>Experti</h1>
	<p>Potřebujete poradit či pomoci s údržbou Vašeho golfového areálu? Na tomto fóru Vám poradi experti.</p>
	<p>
	<a class="btn btn-primary btn-large">
		Přihlásit
	</a>
	</p>
</div>
<footer>
<address>
	<strong>VašeGolfiště.cz</strong><br>
	Martin Kužel<br>
	<abbr title="Telefon">Tel:</abbr> +420 776 488 763
</address>
</footer>
{% endblock %}
