{% extends "base-narrow.html" %}
		{% block main-content %}
      <div class="jumbotron">
        <h1>Místo pro výměnu názorů.</h1>
        <p class="lead">VašeGolfiště.cz je komunikační portál pro veřejné golfové areály, hřiště, driving a cvičné plochy. Napište nám a sdílejte své postřehy při budování a rozvoje golfové hry. Příležitostní hráči zde najdou seznam míst, kde si budete vždy moci odpálit pár míčů.</p>
        <a class="btn btn-large btn-success" href="#">Pokračovat</a>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Aktuality</h4>
          <p>Zde se dozvíte veškeré naše novinky.</p>

          <h4>Kluby</h4>
          <p>Seznam sdružených klubů.</p>

          <h4>Hřiště</h4>
          <p>Zde najdete seznam veřejných hřišť a odpališť.</p>
        </div>

        <div class="span6">
          <h4>Poradna</h4>
          <p>Ať Vás zajímá cokoli ohledně hřiště, ptejte se v naší poradně. Máme odpovědi na Vaše otázky.</p>

          <h4>Kontakt</h4>
						<p>S dotazy ohledně služby a tohoto webu se obracejte na náš kontaktní email <a href="mailto:info@vasegolfiste.cz">info@vasegolfiste.cz</a> či na tel čísle: <abbr title="mobilní telefon">+420 776 488 763</abbr>.</p>

        </div>
      </div>

      <hr>
	{% endblock %}
