{% extends "base.html" %}
{% block content %}
<div class="page-header">
	<h1>VašeGolfiště.cz <small>Místo pro společnou řeč</small></h1>
</div>
<div class="hero-unit">
	<br/>
	<p>Tyto stránky založili golfoví nadšenci, amatéři, kteří věří, že golf je sportem pro každého v každem věku. Chtěli bychom, aby tyto stránky pomohli v začátcích jak Vás, kteří si chtece vyzkoušet svůj první odpal golfového míče, tak i těm, co se do golfu zamilují s rádi by si hráli na svém vlastním greenu. Dočtete se zde, kde můžete začít s trénikem, kam vyrazit na veřejné hřište či driving". Najdete zde odkazy na zpřátelné kluby, jenž mezi sebou pořádají turnaje, kterých se můžete zůčastnit i Vy, a spoustu dalšího. Těšíme se, že se potkáme na hřisti.   </p>
	<a class="btn btn-primary btn-large">
		Přihlásit
	</a>
	</p>
</div>
<footer>
<address>
	<strong>VašeGolfiště.cz</strong><br>
	Martin Kužel<br>
	<abbr title="Telefon">Tel:</abbr> +420 776 488 763
</address>
</footer>
{% endblock %}
