{% extends "base-narrow.html" %}
	{% block page_title %}Veřejná hřiště{% endblock %}
	{% block title %}Veřejná hřiště{% endblock %}
	{% block menu %}{% include "includes/menu.html" with active_tab="courses" %}{% endblock %}

	{% block main-content %}
		<p>Zde naleznete seznam cvičných areálů a hřišť, kde si budete moci zahrát i bez "zelené karty".</p>
	<br/>
	{% for course in golfcourse_list %}
	<div class="course">
		<h3>{{ course.title }}</h3>
		<p>{{ course.description|safe }}</p>
	</div>
	<hr/>
	{% endfor %}
	{% endblock %}
