{% extends "base.html" %}
{% load course_tags %}
	{% block page_title %}Veřejná hřiště{% endblock %}
	{% block title %}Veřejná hřiště{% endblock %}
	{% block menu %}{% include "includes/menu.html" with active_tab="courses" %}{% endblock %}

	{% block main-content %}
		<p>Zde naleznete seznam cvičných areálů a hřišť, kde si budete moci zahrát i bez "zelené karty".</p>
	<br/>
	<div class="courses">
	{% for course in golfcourse_list %}
	<div class="course">
		<h3>{{ course.title }}</h3>
		<div class="row">
		<div class="left span4">
			<!-- <div style="float:left; width: 300px;"> -->
		{% course_map course.location course.title%}
		</div>
		<div class="right span7">
		<!-- <div style="float:left; margin-right:4em; margin-left: 4em;"> -->
			<p>{{ course.description|safe }}</p>
		</div>
	<div class="clearfix"/>
	</div>
		</div>
	<hr/>
	{% endfor %}
</div>
	{% endblock %}
